/* footer开始 */
footer {
    margin-top:20px;
    color: #fff;
    background: #26a26f;
}

footer .top-row .col-sm-3 .left-title {
    display: inline-block;
    margin-bottom: 50px;
}
footer .top-row .col-sm-3 .center-title {
    display: inline-block;
    margin-bottom: 22px;
}
footer .top-row .col-sm-3 .right-title {
    display: inline-block;
    margin-bottom: 10px;
}
footer .top-row .col-sm-4 i {
    display: inline-block;
    padding: 8px 8px 10px;
    vertical-align: middle;
    border-left: 2px solid #fff;
    margin-left: 16px;
}
footer .top-row a {
    text-decoration: none;
    color: #fff;
}
footer .top-row a:nth-child(odd) {
    margin-right:20px;
} 
footer .top-row .right-title {
    margin-bottom: 3px;
}
/* footer文字 */
footer .text-footer {
    margin-top:30px;
    margin-bottom: 0;
    border-top: 1px solid #32c086;
    vertical-align: bottom;
    color: #fff;
    white-space: pre-wrap;
}
footer .top-row  .col-sm-5 .center-title{
    position: relative;
    top: -5px;
}
/* 大于996px的媒体查询 */
@media screen and (min-width : 997px){ 
    /* footer开始 */
    footer .top-row>div {
        margin-top: 35px;
        color: #fff;
    }
    footer .top-row  .col-sm-4 p {
        margin-top: 31px;
    }
   
     footer .top-row a {
        position: relative;
    }
    footer .top-row a::after {
        content: "";
        position: absolute;
        left:0;
        bottom: -6px;
        visibility: hidden;
        height: 3px;
        width: 100%;
        background: #fff;
    }
    footer .top-row a:hover::after {
        visibility: visible;
    }
    footer .text-footer {
        padding-top: 20px;
        line-height: 15px;
    } 
}
/* 大于768px的媒体查询 小于996px*/
@media screen and (min-width : 768px) and (max-width : 996px){
    /* footer开始 */
    footer .top-row>div {
        margin-top: 35px;
        color: #fff;
    }
    footer .top-row  .col-sm-4 p {
        margin-top: 31px;
    }
    footer .top-row a {
        position: relative;
    }
    footer .top-row a::after {
        content: "";
        position: absolute;
        left:0;
        bottom: -6px;
        visibility: hidden;
        height: 3px;
        width: 100%;
        background: #fff;
    }
    footer .top-row a:hover::after {
        visibility: visible;
    } 
    footer .text-footer {
        padding-top: 20px;
        line-height: 15px;
    } 
}
/* 小于768px */
@media screen and (max-width : 768px){
    /* footer 开始 */
    footer .top-row>div {
        margin-top: 25px;
        color: #fff;
    }
    footer .top-row  .col-sm-4 p {
        margin-top: 10px;
    }
    footer .top-row a {
        position: relative;
    }
    footer .top-row a::after {
        content: "";
        position: absolute;
        left:0;
        bottom: -6px;
        visibility: hidden;
        height: 3px;
        width: 100%;
        background: #fff;
    }
    footer .top-row a:hover::after {
        visibility: visible;
    } 
    footer .text-footer {
        line-height: 15px;
    } 
    footer .text-footer span{
        display: block;
    }
}